 body
    {
      font-family: 'Nunito', sans-serif;
    }
    .header
    {
      position: absolute;
      right: 80px;
      top: 20px;
    }
    #navbar
    {
      width: 100%;
      height: 100vh;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .nav_div
    {
       text-align: left;
       width: 100%;
       padding-left: 80px;
       color: white;
       margin-top: 100px;
    }
    .header_img
    {
      margin-left: 10%;
      height: auto;
      width: 80%;
    }
    .header nav,a
    {
      padding: 10px;
      padding-left: 20px;
      text-decoration: none;
      color: #000080;
      font-size:20px;
      text-align: left;
    }
    .header-col
    {
      margin-top: 20px;
      padding: 20px;
    }
    .header-col h1
    {
      font-size: 70px;
      color: #000080;
    }
    .header-col p
    {
      font-size: 40px;
       margin-top: 40px;
       color: #0000ff;
    }
    .about-col
    {
      margin-top:30px;
      padding: 20px;
    }
    .about-col h1
    {
      font-size: 60px;
      color: #000080;
    }
    .about-col p
    {
      font-size: 25px;
      margin-top: 20px;
      color: #0000ff;
    }
    .about-col span
    {
      font-size: 22px;
      margin-top: 20px;
      color: #000080;
      text-align: right;
    }

    .menu_bar
    {
      height: 70px;
      width: 70px;
      display: none;
    }
    .menu_button
    {
      position: absolute;
      right: 20px;
      top: 5px;
      height: 70px;
      width: 70px;
      z-index: 3;
    }
    .header-cont
    {
      height: 80px;
      box-shadow: 0 0 1px #000080;
    }
    .logo-text
    {
      position: absolute;
      left: 90px;
      top: 25px;
      font-size: 25px;
      font-weight: 900;
    }
    .logo-img
    {
      width: 70px;
      height: 70px;
      position: absolute;
      left: 10px;
      top: 5px;
    }
    .scroll-top
    {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 50px;
      background-color: #000080;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 2px 10px grey;
      text-align: center;
    }
    .scroll-top:hover
    {
      cursor: pointer;
      background-color: #0000ff;
    }
    .fa-angle-up
    {
      font-size: 25px;
      color: white;
      padding-top: 10px;
    }
    .about_img
    {
      width: 60%;
      margin-left: 20%;
      height:auto;
      box-shadow: 0 0 20px lightgrey;
      border-radius: 40px;
    }
    .footer-text
    {
      text-align: center;
      color: white;
      font-size: 20px;
    }


.dropbtn {
  color: #000080;
  font-size: 20px;
  border: none;
  text-decoration: none;
}
.dropbtn:hover
{
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -30px;
  background-color: white;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  z-index: 1;
  padding: 15px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: #0275d8;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover 
{background-color: #0275d8;color: white;}

.dropdown:hover .dropdown-content 
{display: block;}

.dropdown:hover .dropbtn {color: #000080;}


.list_item
{
  border-radius: 0px;
}
.list_item:hover
{
  cursor: pointer;
  background-color: #efefef;
}

.menu_bar:focus{
        box-shadow: none;
    }
.header_btn
{
  padding: 15px;
  width: 160px;
  border-radius: 50px;
  font-size: 20px;
  margin-left: 30px;
  background-color: #000080;
  color: white;
  border-style: solid;
  border-width: 0px;
}
.header_btn:hover
{
  color: white;
  background-color: #0000ff;
  box-shadow: 2px 5px 5px grey;
}
.t_btn
{
  width: 160px;
  border-radius: 50px;
  border-style: solid;
  border-width: 0px;
  font-size: 18px;
}
.t_btn:hover
{
  box-shadow: 2px 5px 5px grey;
}

    .t_con
    {
      font-size: 20px;
    }


/** Responsiveness Starts  **/


@media only screen and (max-width: 1100px) 
{
  .header-col h1
  {
    font-size: 60px;
  }
  .header-col p
  {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1100px) 
{
  .about_img
    {
      width: 80%;
      margin-left: 10%;
    }
  .header_btn
    {
      margin-left: 10px;
      width: 140px;
      font-size: 18px;
      padding: 10px;
    }

}

@media only screen and (max-width: 768px)
{
  .header-col h1
  {
    font-size: 45px;
  }
  .header-col p
  {
    font-size: 25px;
  }
  .header nav
  {
    display: none;
  }
  .menu_bar
  {
    display: block;
  }
  .logo-text
  {
    font-size: 20px;
  }
  .about-col
    {
      margin-top:15px;
      padding: 25px;
    }
    .about-col h1
    {
      font-size: 30px;
    }
    .about-col p
    {
      font-size: 18px;
      margin-top: 15px;
    }
    .about-col span
    {
      font-size: 16px;
      margin-top: 15px;
    }
    .about_img
    {
      width: 90%;
      margin-left: 5%;
    }
    .footer-text
    {
      font-size: 11px;
    }
    .header_btn
    {
      margin-left: 5px;
      width: 100px;
      font-size: 16px;
      padding: 6px;
    }
    .t_btn
    {
      width: 60px;
      font-size: 9px;
      padding: 5px;
    }
    .t_con
    {
      font-size: 13px;
    }
@media only screen and (max-width: 576px)
{
  .header-col
    {
      margin-top: 10px;
    }
  .header-col h1
  {
    font-size: 30px;
  }
  .header-col p
  {
    font-size: 18px;
    margin-top: 15px;
  }
    .header_btn
    {
      margin-left: 4px;
      width: 120px;
      font-size: 14px;
      padding: 6px;
    }
}
